@import 'typographic'
@import 'styl/*' 
@import 'nib'
@import 'jeet'

normalize-base()
normalize-html5()
edit()

t-presets(1)

add(a, b, c) 
	a + b+ c 
		
marg(a)	
	return a a
	
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd'

section
	center(960px)
aside
	col(1/3)
	shift(2/3)
	+below(sm)
		stack()
		unshift()
article
	col(2/3)
	shift(-1/3)
	+below(sm)
		stack()
		unshift()
	img
		max-width: 100%

body
	background linear-gradient(top, white, red)
	color shade(red, 50%)  //adds shade to the color passed
	font-family $futura
	border solid 1px complement(@color) //mixin created from previous color, uses complementary color
	+below('m')
		color red
	+above('xl')
		color blue
	main
		margin marg(10px) //creates equal margins with marg function
		background rgba(blue,0.9) //function that can change opacity of color
		color grayscale(blue)  //create grayscale of color passed
		transition(all 0.2s ease)
		border invert(@color) //invert function
		border-radius 20px  //overwrites border-radius variable
		test(6)
		clearfix()
		a
			overflow ellipsis
			shadow-stroke(blue)
