@import 'typographic'
@import 'styl/*' 
@import 'nib'
@import 'jeet'

normalize-base()
normalize-html5()
//edit()
typographic()
 
*
	margin 0
	padding 0
	box-sizing border-box
	font-family 'Lato', sans-serif

h1, h4
	font-family 'Lato', sans-serif

html
	background red
	
.logo
	margin-top 10px
	fill blue
	&:hover
		fill white
		transition(all, .2s, ease)
	
#header
	stack()
	background darkblue
	border-bottom solid 5px blue2
	.head
		cf()
		.title
			col(1/3)
			+below('md')
				stack()
				text-align center
				padding-right 30px	
			padding-left 30px
			color white	
		.menu
			col(1/3, offset: 1/3)
			+below('md')
				col()
			#nav
				stack()
				>div
					a
						span(1/3)
						padding 15px 0
						text-align center
						text-decoration none
						color #fff
						&:hover
							color blue
							transition(all, .1s, ease)
				
#about
	stack()
	cf()
	h1
		text-align center
		color blue
	>div
		p
			col(1/3)
			color blue	
	background grey
	section-padding()
	#lang
		col(1/3, offset: 1/3)
		>div
			p 
				span(1/3)
				font-size 0.7em
				text-align center
				padding 10px 0
				color darkblue
				text-decoration none
				&:hover 
					border-bottom 3px solid darkblue
					margin-bottom -3px
					
.content{
    display:none;
}

#work
	cf()
	stack()
	h1
		color white
		text-align center
	background blue
	section-padding()
	.gallery
		>img
			span(1/4, cycle: 4)
			+below('md')
				span(1/2, uncycle: 4, cycle: 2)
			+below('sm')
				span(1, uncycle: 2, cycle 1)

#contact
	stack()
	h1
		color blue
	h4
		color blue
	text-align center
	background white
	section-padding()
	.fa-stack
		padding 0 50px		
	a
		text-align center
		&:hover
			opacity 0.8
		#facebook
			color #3B5998
		#twitter
			color #00A5E5
		#github
			color #333

.footer
	stack()
	text-align center
	background darkblue
	color white
	section-padding()