@import 'typographic'
@import 'styl/*' 
@import 'nib'
@import 'jeet'

normalize-base()
normalize-html5()
edit()
 
section
	center(1000px, 30px)
	
aside
	a
		display block
	col(1/3)
	+below('sm')
		stack()
		a
			display inline

		
.posts
	col(2/3)
	+below('sm')
		stack()
	
	
.post
	cf()
	img
		col(1/3 2/3)
	article
		col(2/3 2/3)