html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
* {
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
aside a {
  display: block;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  aside:first-child {
    margin-left: auto;
  }
  aside:last-child {
    margin-right: auto;
  }
  aside a {
    display: inline;
  }
}
.posts {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.posts:before,
.posts:after {
  content: '';
  display: table;
}
.posts:after {
  clear: both;
}
.posts:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .posts {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .posts:first-child {
    margin-left: auto;
  }
  .posts:last-child {
    margin-right: auto;
  }
}
.post {
  *zoom: 1;
}
.post:before,
.post:after {
  content: '';
  display: table;
}
.post:after {
  clear: both;
}
.post img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 30.28764805414551%;
  margin-left: 0%;
  margin-right: 4.568527918781727%;
}
.post img:before,
.post img:after {
  content: '';
  display: table;
}
.post img:after {
  clear: both;
}
.post img:last-child {
  margin-right: 0%;
}
.post article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.14382402707275%;
  margin-left: 0%;
  margin-right: 4.568527918781727%;
}
.post article:before,
.post article:after {
  content: '';
  display: table;
}
.post article:after {
  clear: both;
}
.post article:last-child {
  margin-right: 0%;
}
