html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif';
}
html {
  background: #e8e8e8;
}
.logo {
  margin-top: -30px;
  fill: #2c719e;
}
.logo:hover {
  fill: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#nav {
  margin-top: 20px;
}
#header {
  background: #0a2334;
}
#header #lang {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 90.125%;
  margin-right: 3%;
}
#header #lang >div a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 0.7em;
  text-align: center;
  background: rgba(255,255,255,0.15);
  padding: 10px 0;
  color: #e8e8e8;
  text-decoration: none;
}
#header #lang >div a:before,
#header #lang >div a:after {
  content: '';
  display: table;
}
#header #lang >div a:after {
  clear: both;
}
#header #lang >div a:hover {
  border-bottom: 3px solid #fff;
  margin-bottom: -3px;
}
#header #lang:before,
#header #lang:after {
  content: '';
  display: table;
}
#header #lang:after {
  clear: both;
}
#header #lang:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  #header #lang {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 18.458333333333336%;
    margin-left: 81.54166666666666%;
    margin-right: 3%;
  }
  #header #lang:before,
  #header #lang:after {
    content: '';
    display: table;
  }
  #header #lang:after {
    clear: both;
  }
  #header #lang:last-child {
    margin-right: 0%;
  }
}
#header .head {
  *zoom: 1;
}
#header .head:before,
#header .head:after {
  content: '';
  display: table;
}
#header .head:after {
  clear: both;
}
#header .head .title {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
  padding-left: 30px;
  color: #fff;
}
#header .head .title:before,
#header .head .title:after {
  content: '';
  display: table;
}
#header .head .title:after {
  clear: both;
}
#header .head .title:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  #header .head .title {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
    padding-right: 30px;
  }
  #header .head .title:before,
  #header .head .title:after {
    content: '';
    display: table;
  }
  #header .head .title:after {
    clear: both;
  }
  #header .head .title:last-child {
    margin-right: 0%;
  }
}
#header .head #nav,
#header .head >div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 51.5%;
  margin-right: 3%;
}
#header .head #nav:before,
#header .head >div:before,
#header .head #nav:after,
#header .head >div:after {
  content: '';
  display: table;
}
#header .head #nav:after,
#header .head >div:after {
  clear: both;
}
#header .head #nav:last-child,
#header .head >div:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  #header .head #nav,
  #header .head >div {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #header .head #nav:before,
  #header .head >div:before,
  #header .head #nav:after,
  #header .head >div:after {
    content: '';
    display: table;
  }
  #header .head #nav:after,
  #header .head >div:after {
    clear: both;
  }
  #header .head #nav:before,
  #header .head >div:before,
  #header .head #nav:after,
  #header .head >div:after {
    content: '';
    display: table;
  }
  #header .head #nav:after,
  #header .head >div:after {
    clear: both;
  }
  #header .head #nav:last-child,
  #header .head >div:last-child {
    margin-right: 0%;
  }
}
#header .head a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
#header .head a:before,
#header .head a:after {
  content: '';
  display: table;
}
#header .head a:after {
  clear: both;
}
#header .head a:hover {
  color: #2c719e;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#nav2 {
  background: #2c719e;
  margin-bottom: 30px;
}
#nav2 > div {
  *zoom: 1;
  width: auto;
  max-width: 1050px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  border-right: 1px solid #2f7aaa;
  border-left: 1px solid #28668e;
  margin-bottom: 0;
}
#nav2 > div:before,
#nav2 > div:after {
  content: '';
  display: table;
}
#nav2 > div:after {
  clear: both;
}
#nav2 a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 16.666666666666664%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-left: 1px solid #2f7aaa;
  border-right: 1px solid #28668e;
}
#nav2 a:before,
#nav2 a:after {
  content: '';
  display: table;
}
#nav2 a:after {
  clear: both;
}
@media only screen and (max-width: 800px) {
  #nav2 a {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #2f7aaa;
    border-top: 1px solid #28668e;
  }
  #nav2 a:first-child {
    margin-left: auto;
  }
  #nav2 a:last-child {
    margin-right: auto;
  }
}
#nav2 a:hover {
  background: #2f7aaa;
}
#main1 {
  *zoom: 1;
  padding: 0 10px;
}
#main1:before,
#main1:after {
  content: '';
  display: table;
}
#main1:after {
  clear: both;
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 68.66666666666666%;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
    text-align: center;
  }
  aside:first-child {
    margin-left: auto;
  }
  aside:last-child {
    margin-right: auto;
  }
}
aside .nav3 {
  margin-bottom: 1rem;
}
aside .nav3 a {
  display: block;
  background: rgba(10,35,52,0.7);
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border-bottom: 1px solid #0a2131;
}
aside .nav3 a:hover {
  background: rgba(14,48,71,0.7);
}
aside .social a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  padding: 30px 0;
  color: #2c719e;
}
aside .social a:before,
aside .social a:after {
  content: '';
  display: table;
}
aside .social a:after {
  clear: both;
}
aside .social a:hover {
  color: #0a2334;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.posts {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -34.33333333333333%;
}
.posts:before,
.posts:after {
  content: '';
  display: table;
}
.posts:after {
  clear: both;
}
.posts:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .posts {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  .posts:first-child {
    margin-left: auto;
  }
  .posts:last-child {
    margin-right: auto;
  }
}
.posts .post {
  *zoom: 1;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 0.5em;
  margin-bottom: 1em;
}
.posts .post:before,
.posts .post:after {
  content: '';
  display: table;
}
.posts .post:after {
  clear: both;
}
.posts .post header nav {
  margin-bottom: 10px;
}
.posts .post header nav a {
  color: #2c719e;
  text-decoration: none;
}
.posts .post header nav a:hover {
  text-decoration: underline;
}
.posts .post > img {
  margin-bottom: 1em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.posts .post > img:before,
.posts .post > img:after {
  content: '';
  display: table;
}
.posts .post > img:after {
  clear: both;
}
.posts .post > img:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .posts .post > img {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .posts .post > img:first-child {
    margin-left: auto;
  }
  .posts .post > img:last-child {
    margin-right: auto;
  }
}
.posts .post > article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
.posts .post > article:before,
.posts .post > article:after {
  content: '';
  display: table;
}
.posts .post > article:after {
  clear: both;
}
.posts .post > article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .posts .post > article {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .posts .post > article:first-child {
    margin-left: auto;
  }
  .posts .post > article:last-child {
    margin-right: auto;
  }
}
#main2 {
  text-align: center;
  background: #2c719e;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
}
#main3 {
  text-align: center;
  background: #fff;
  color: rgba(10,35,52,0.7);
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer {
  text-align: center;
  background: #0a2334;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
}
