// Mixins
vendor(property, arg)
	{property} arg
	-webkit-{property} arg
	-moz-{property} arg

border-radius(radius = 5px)
	vendor('border-radius', radius)

transition(args)
	vendor('transition', args)
	


// Variables
darkblue = #0a2334
blue= lighten(#1b4662, 20%)
red = #BE2525
grey = #E8E8E8


// Scale
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'hd'